* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #69b4ff;
}

/* -------------------------- NAV -------------------------- */
nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #0280ff;
}

.botones-nav a {
    text-decoration: none;
}

.botones-nav button {
    font-family: 'Nunito', Times New Roman;
    border: none;
    background: transparent;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    font-weight:500;
}

.botones-nav button:hover {
    color: #004b97;
    font-weight: 900;
}

.navegador {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 40px 0 30px;
    height: 56px;
    z-index: 9;
}

.logo-nav {
    font-family: "Lilita One", Times New Roman;
    display: flex;
    flex-direction: row;
    margin-bottom: -20px;
    align-items: center;
    gap: 10px;
}

.logo-nav img {
    box-sizing: border-box;
    height: 50px;

}

.logo-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: end;

}

/* -------------------------- BANNER -------------------------- */
.banner-nav {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    z-index: 2;
}


/* -------------------------- NEWSLETTER -------------------------- */
.newsletter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: #333;
    margin-bottom: 40px;
    color: #f7fdff;
}

.newsletter img {
    height: 80%;
}

.newsletter form {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* -------------------------- FOOTER -------------------------- */
footer {
    height: 56px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0280ff;
    padding: 0 20px;
}

footer img {
    height: 50px;
}

.xarxes-socials img {
    height: 40px;
    padding-left: 10px;
}