*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------- NAV -------------------------- */
nav{
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0280ff;
    padding-left: 30px;
    padding-right:40px;
}

.botones-nav button{
    margin-left: 20px;
    margin-right: 20px;
}

.logo-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-nav img{
    height: 50px;
}
/* -------------------------- MAIN -------------------------- */
.newsletter{
    height: 30px;
    background-color: bisque;
    margin-bottom: 40px;
}

/* -------------------------- FOOTER -------------------------- */
footer{
    height: 56px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0280ff;
    padding: 0px 20px 0px 20px;
}

footer img{
    height: 50px;
}

.xarxes-socials img{
    height: 40px;
    padding-left: 10px;
}