* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #0280ff;
}
/* -------------------------- NAV -------------------------- */
nav {
    width: 100%;
    display: flex;
    flex-direction: column; /* cambia de row a column */
    background-color: #0280ff;
    z-index: 7;
}

.botones-nav button {
    margin: 0 20px;
}

.navegador {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 40px 0 30px;
    height: 56px;
    z-index: 3;
}

.logo-nav{
    display: flex;
    flex-direction: row;
    margin-bottom: -20px;
}

.logo-nav img {
    box-sizing: border-box;
    height: 50px;
}

/* -------------------------- BANNER -------------------------- */
.banner-nav {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    z-index: 2;
}

/* -------------------------------------- MAIN --------------------------------------- */

/* -------------------------- CARROUSEL -------------------------- */
.carrousel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: -130px;
    margin-bottom: -220px;
    z-index: 1;
    /* debajo del nav */
    background-color: black;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    opacity: 0;
    transition: all 0.7s ease;
}

.slide.active {
    left: 0;
    opacity: 1;
}

video {
    width: 100%;
    object-fit: cover;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    z-index: 2;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    cursor: pointer;
    z-index: 15;
    padding: 10px 15px;
    transition: background 0.3s;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.arrow:hover {
    background: rgba(0, 0, 0, 0.7);
}

/* -------------------------- HOLA -------------------------- */
.casa{
    width: 100%;
    height: 300px;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 5;

}

.hola-som-coolom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 120px auto;
    gap: 50px;
    width: 30%;
    text-align: center;
}

.hola-som-coolom img {
    height: 120px;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

/* -------------------------- NEWSLETTER -------------------------- */
.newsletter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: #333;
    margin-bottom: 40px;
    color: #f7fdff;
}

.newsletter img {
    height: 80%;
}

.newsletter form {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* -------------------------- FOOTER -------------------------- */
footer {
    height: 56px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0280ff;
    padding: 0 20px;
}

footer img {
    height: 50px;
}

.xarxes-socials img {
    height: 40px;
    padding-left: 10px;
}