* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #60afff;
    font-family: 'Nunito', 'Times New Roman';

}

/* -------------------------- NAV -------------------------- */
nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #0280ff;
}

.botones-nav a {
    text-decoration: none;
}

.botones-nav button {
    border: none;
    background: transparent;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 500;
}

.botones-nav button:hover {
    color: #004b97;
    font-weight: 900;
}

.navegador {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 40px 0 30px;
    height: 56px;
    z-index: 9;
}

.logo-nav {
    font-family: "Lilita One", Times New Roman;
    display: flex;
    flex-direction: row;
    margin-bottom: -20px;
    align-items: center;
    gap: 10px;

}

.logo-nav img {
    box-sizing: border-box;
    height: 50px;

}

.logo-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: end;

}

/* -------------------------- BANNER -------------------------- */
.banner-nav {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    z-index: 2;
}

/* -------------------------------------- MAIN --------------------------------------- */

/* -------------------------- CARROUSEL -------------------------- */
.carrousel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: -45px;
    margin-bottom: -220px;
    z-index: 1;
    /* debajo del nav */
    background-color: black;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    opacity: 0;
    transition: all 0.7s ease;
}

.slide.active {
    left: 0;
    opacity: 1;
}

video {
    width: 100%;
    object-fit: cover;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    z-index: 2;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    cursor: pointer;
    z-index: 15;
    padding: 10px 15px;
    transition: background 0.3s;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.arrow:hover {
    background: rgba(0, 0, 0, 0.7);
}

/* -------------------------- HOLA -------------------------- */
.casa {
    width: 100%;
    height: 300px;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 5;

}

.hola-som-coolom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 90px auto;
    gap: 50px;
    width: 40%;
    text-align: center;
}

.hola-som-coolom h1 {
    font-family: 'Nunito', 'Times New Roman';
    font-size: 60px;
    font-weight: 800;
}

.hola-som-coolom p {
    font-size: 23px;
    font-weight: 400;
}

.hola-som-coolom a {
    background-color: #aebffc;
    color: white;
    font-weight: bold;
    font-family: 'Nunito', 'Times New Roman';
    font-size: 16px;
    width: 180px;
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.hola-som-coolom a:hover {
    transform: scale(1.1);
    background-color: #006ad5;
    /* un tono más oscuro al hacer hover */
}


.hola-som-coolom img {
    height: 140px;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

/* -------------------------- NEWSLETTER -------------------------- */
.newsletter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    background-color: #333;
    padding: 30px 20px;
    color: #f7fdff;
    flex-wrap: wrap; /* se adapta a pantallas pequeñas */
}

.newsletter img {
    height: 80px;
    object-fit: contain;
}

.newsletter-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    text-align: left;
}

.newsletter-content form {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.newsletter-content input[type="text"] {
    flex: 1;
    padding: 10px 15px;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 14px;
}
.custom-submit {
    background-color: #aebffc;
    color: white;
    font-weight: bold;
    font-family: 'Nunito', 'Times New Roman', sans-serif;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.custom-submit:hover {
    transform: scale(1.1);
    background-color: #99a3e0;
}

/* -------------------------- FOOTER -------------------------- */
footer {
    height: 56px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0280ff;
    padding: 0 20px;
    margin: 40px auto auto;
}

footer img {
    height: 40px;
}

.xarxes-socials img {
    height: 35px;
    padding-left: 10px;
}