main {
  margin: 40px 60px;
  display: flex;
  justify-content: center;
  gap: 70px;
}

.card-link a {
  text-decoration: none;
  color: inherit;
}

.card-bg {
  width: 363px;
  height: 635px;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-position: center;
}

.card-text {
  width: 100%;
  height: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-redirect-icon {
  width: 18px;
  height: 18px;
}

.card-bg:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.7);
}

.bg-web {
  background-image: url("\resources\ui\index_banners\web.png");
}

.bg-store {
  background-image: url("\resources\ui\index_banners\store.png");
}

.bg-itchio {
  background-image: url("\resources\ui\index_banners\itchio.png");
}
