main {
  margin: 40px 60px;
  display: flex;
  justify-content: center;
  gap: 70px;
}

.card-link a {
  text-decoration: none;
  color: inherit;
}


.card-bg {
  width: 363px;
  height: 635px;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-position: center;
}

.card-floating-text {
  position: absolute;
  bottom: 37px;
  right: 25px;
  transform: rotate(-6deg);
  transform-origin: right bottom;
  font-family: "Lilita One", sans-serif;
  font-size: 1.8rem;
  color: #f7fdff;
  letter-spacing: 2px;
  padding: 0.6rem 1.4rem;
  border-radius: 12px;
  pointer-events: none;
}

.tag-web {
  background:#033263;
}

.tag-store {
  background: #6c560f;
}

.tag-itchio { 
  background: #a1090a;
}


.card-bg:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.7);
}

.bg-web {
  background-image: url("/resources/ui/index_banners/web.png");
}

.bg-store {
  background-image: url("/resources/ui/index_banners/store.png");
}



.bg-itchio {
  background-image: url("/resources/ui/index_banners/itchio.png");
}
